body {
    height: 100%;
}

a {
    text-decoration: none;
    color: black;
}

a:hover {
    text-decoration: none;
    color: black
}

/* a:hover {
    text-decoration: none;
    color: black;
    border: 1px solid rgba(50, 228, 213, 0.486);
} */

ul li {
    list-style-type: none;
}

.active {
    border: 1px solid rgba(50, 228, 213, 0.486);
}